<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="SSKDB2T" connectionString="Provider=IBMDADB2;Database=SSKDB2T;HOSTNAME=10.128.8.250;PROTOCOL=TCPIP;PORT=5446;uid=U208426;pwd=Aott123*" providerName="System.Data.OleDb"/>
    <add name="SSKDB2P" connectionString="Provider=IBMDADB2;Database=SSKDB2P;HOSTNAME=10.128.8.235;PROTOCOL=TCPIP;PORT=446;uid=U208426;pwd=Aott123*" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>
<!--ProjectGuid: {B1EB9B95-A315-44A5-9795-27C670A7B29E}-->
<!--ProjectGuid: B1EB9B95-A315-44A5-9795-27C670A7B29E-->